spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      javax:
        persistence:
          validation:
            mode: none
    hibernate:
      ddl-auto: update
    open-in-view: false
  main:
    banner-mode: off
  application:
    name: email-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000
          starttls:
            enable: true
            required: true
server:
  port: 8087

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus, circuitbreakers, circuitbreakerevents
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      enabled: true
    tags:
      application: ${spring.application.name}

feign:
  client:
    parameter-service:
      url: ${PARAMETER_SERVICE_BASE_PATH}/api/v1
      getByCode: /error-codes/error-code
      logError: /log/error
      getAllErrorCodes: /error-codes/error-code/all